.task {
    list-style: none;
    min-height: 65px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px 8px 20px;
    border: 1.9px solid white;
    align-items: center;
}

.task:nth-child(even) {
    background-color: #f2ebeb;
}

.task:nth-child(odd) {
    background-color: #e4e1e1;
}

.task:first-child {
    border-radius: 5px 5px 0 0;
}

.task:last-child {
    border-radius: 0 0 5px 5px;
}

.text-of-task {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
    font-size: 20px;
}

.delete-task {
    width: 25px;
    height: 25px;
    color: rgb(97, 17, 17);
    cursor: pointer;
    transition: color .2s, transform .35s;
}

.delete-task:hover {
    transition: color .2s, transform .7s;
    color: rgb(172, 19, 19);
    transform: rotate(90deg);
}